In [1]:
# Part 1: Handle Missing Values & Duplicates

    # Step-by-Step Guidelines:
# 1. Load the Data: First, ensure you have pandas installed and import it.
# 2. Handling Missing Values
#     1. Identify Missing Values:
#     2. Fill Missing Values:
# 3. Handling Duplicates
#     1. Identify Duplicates:
#     2. Remove Duplicates:
# 4. Combined Practice on a New Dataset
#     1. New Sample Data:
#     2. Handling Missing Values:
#     3. Remove Duplicates:
        
   import pandas as pd
import numpy as np
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'David', None],
    'Age': [25, None, 30, 25, 28, 28],
    'Salary': [50000, 60000, None, 50000, 70000, 70000]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nMissing Values Count:")
print(df.isnull().sum())
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Salary'].fillna(df['Salary'].median(), inplace=True)
df['Name'].fillna(df['Name'].mode()[0], inplace=True)
print("\nAfter Filling Missing Values:")
print(df)
print("\nDuplicate Rows:")
print(df[df.duplicated()])
df.drop_duplicates(inplace=True)
print("\nAfter Removing Duplicates:")
print(df)
print("\nFinal Cleaned Dataset:")
print(df)

IndentationError: unexpected indent (460835061.py, line 16)

In [ ]:
# Part 2: Apply Standardization & Formatting Rules

#     Step-by-Step Guidelines:
# 1. Standardize Text Data
#     1. Convert All Names to Lowercase:
# 2. Format Numerical Data
#     1. Round Age Column to the Nearest Integer:
# 3. Combined Practice on Another Dataset
#     1. New Sample Data:
#     2. Standardize Product Names:
#     3. Format Prices to Two Decimal Places:
        
       import pandas as pd
data1 = {
    'Name': ['Alice', 'BOB', 'CharLie'],
    'Age': [25.7, 30.2, 22.9]
}
df1 = pd.DataFrame(data1)
df1['Name'] = df1['Name'].str.lower()
df1['Age'] = df1['Age'].round()
print("Standardized People Dataset:")
print(df1)
data2 = {
    'Product': ['  Phone ', 'Laptop', 'TABLET '],
    'Price': [199.999, 1299.5, 350.459]
}
df2 = pd.DataFrame(data2)
df2['Product'] = df2['Product'].str.strip().str.lower()
df2['Price'] = df2['Price'].round(2)
print("\nFormatted Product Dataset:")
print(df2)